<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Equipos</title>
</head> 
<body>

    <a th:href="@{/}">
    <button>Regresar al Inicio</button>
    </a>
    
    <h1>Equipos</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Grupo</th>
            <th>Nombre</th>
            <th>Confederacion</th>
            <th>Ranking</th>
        </tr>
        <tr th:each="equipo : ${equipos}">
            <td th:text="${equipo.idEquipo}"></td>
            <td th:text="${equipo.idGrupo}"></td>
            <td th:text="${equipo.nombrePais}"></td>
            <td th:text="${equipo.confederacion}"></td> 
            <td th:text="${equipo.ranking}"></td>
        </tr>
    </table>  
</body>  
</html>